@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
  }
  body {
    // zoom: 0.7 !important;
    margin: 0 !important;
    .fixed {
      position: fixed;
      bottom: 0;
      left: 50%;
      width: 95%;
      transform: translate(-50%, 0);
    }
  }
}

html {
  font-size: 12px;
  #root {
    display: flex;
    justify-content: center;
  }
}
.App {
  max-width: 55rem;
  background: white;
  margin: 3em 4em;
  border-radius: 10px;

  .section-head {
    .header {
      padding-right: 0;
      .nameRole {
        .name {
          h1 {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .possession {
          align-self: center;
          h4 {
            font-size: 1.3rem;
            margin: 0;
          }
        }
      }
      .infoBox {
        padding: 1em 0;
        .info-row {
          .info-row-head {
            @extend .accent;
            font-size: .77rem;
            text-transform: uppercase;
          }
          .info-row-value {
            @extend .values;
          }
        }
      }
    }
  }
  .avatarBox {
    padding: 0;
    .avatar {
      border-radius: 50%;
      border: 3px solid rgb(74, 144, 226, .6);
      $factor: .14;
      $size: 110;
      width: $size * 1px;
      height: $size * 1px;
      text-align: center;
      vertical-align: middle;
      /* original */ 
      $width: 2592;
      $height: 1944;
      $resized-width: $width * $factor;
      $resized-height: $height * $factor;
      $offset-width: ($resized-width - $size)/ 2.13;
      $offset-height: ($resized-height - $size) / 3.6;
      background: url('./image.jpg') $offset-width * -1px $offset-height * -1px;
      background-size: $resized-width * 1px $resized-height * 1px;
      // old
      // background-size: 300px auto;

    }
  }
}
.section {
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  .section-head {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .section-content {
  }
}

.experience {
  .experience-info {
    .date {
      @extend .values;
    }
    .place {
      @extend .values;
      @extend .accent;
    }
    .function {
      font-size: 1.2rem;
    }

    .company {
      color: #666;
    }
  }
}

.skill {
  white-space: nowrap;
  .skill-score {
    @extend .accent;
    font-size: .85rem !important;
  }
  .skill-name {
    font-size: .85rem !important;
    white-space: normal;
    break-after: avoid;
    @extend .values;
  }
}

.education {
  .education-info {
    .date {
      @extend .values;
    }

    .place {
      @extend .values;
      @extend .accent;
    }

    .company {
    }

    .function {
    }
  }
}

.activity {
  .activity-info {
    .date {
      @extend .values;
    }
    .place {
      @extend .values;
      @extend .accent;
    }
    .function {
    }
    .company {
    }
  }
}

.course {
  .course-info {
    padding-bottom: 0.8rem;
    .date {
      @extend .values;
    }

    .function {
      font-size: 1.2rem;
    }

    .company {
      color: #666;
    }
  }
}

.reference {
  .info {
    .name {
      font-size: 1.2rem;
    }
    .company {
      color: #666;
    }
  }
  .contact {
    padding: 0 calc(var(--bs-gutter-x) / 2) 0.5rem;
    .email {
      font-size: .9rem;
    }
    .phone {
      font-size: .9rem;
    }
  }
}

.accent {
  color: rgb(74, 144, 226);
}

.values {
  font-size: 1rem;
}

.section-hobbies {
  .hobbies-name {
    @extend .values;
  }
}
