@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
  }
  body {
    margin: 0 !important;
    .fixed {
      position: fixed;
      bottom: 0;
      left: 50%;
      width: 95%;
      transform: translate(-50%, 0);
    }
  }
}

html {
  font-size: 12px;
  #root {
    display: flex;
    justify-content: center;
  }
}
.App {
  max-width: 60rem;
  background: white;
  margin: 2em 1em;
  border-radius: 10px;

  .section-head {
    .header {
      padding-right: 0;
      .nameRole {
        .name {
          h1 {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .possession {
          align-self: center;
          h4 {
            font-size: 1.3rem;
            margin: 0;
          }
        }
      }
      .infoBox {
        padding: 1em 0;
        .info-row {
          .info-row-head {
            @extend .accent;
            font-size: 0.77rem;
            text-transform: uppercase;
          }
          .info-row-value {
            @extend .values;
          }
        }
      }
    }
  }
  .avatarBox {
    justify-content: flex-end !important;
    display: flex;
    .avatar {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      position: absolute;
      border: 1px solid rgb(74, 144, 226, 0.6);
      $factor: 0.18;
      $size: 160;
      width: $size * 0.75 * 1px;
      height: $size * 1px;
      text-align: center;
      vertical-align: middle;
      /* original image size */
      $width: 428;
      $height: 643;
      background: url('../image.jpg');
      background-size: $size * 0.75 * 1px auto;
    }
  }
}
.section {
  padding: 0.7em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  .section-head {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .section-content {
  }
}

.experience {
  ul {
    padding-inline-start: 1.5rem;
  }
  .experience-info {
    .date {
      @extend .values;
    }
    .place {
      @extend .values;
      @extend .accent;
    }
    .function {
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 900;
    }

    .company {
      color: #666;
    }
  }
}

.skill {
  white-space: nowrap;
  .skill-score {
    @extend .accent;
    font-size: 0.85rem !important;
  }
  .skill-name {
    font-size: 0.85rem !important;
    white-space: normal;
    break-after: avoid;
    @extend .values;
  }
}

.education {
  .education-info {
    .date {
      @extend .values;
    }

    .place {
      @extend .values;
      @extend .accent;
    }

    .company {
    }

    .function {
    }
  }
}

.activity {
  .activity-info {
    .date {
      @extend .values;
    }
    .place {
      @extend .values;
      @extend .accent;
    }
    .function {
    }
    .company {
    }
  }
}

.course {
  .course-info {
    padding-bottom: 0.8rem;
    .date {
      @extend .values;
    }

    .function {
      font-size: 1.2rem;
    }

    .company {
      color: #666;
    }
  }
}

.reference {
  .info {
    .name {
      font-size: 1.2rem;
    }
    .company {
      color: #666;
    }
  }
  .contact {
    padding: 0 calc(var(--bs-gutter-x) / 2) 0.5rem;
    .email {
      font-size: 0.9rem;
    }
    .phone {
      font-size: 0.9rem;
    }
  }
}
.fixed {
  padding: 0.125rem 0;
}

.rodo {
  line-height: 1;
  font-size: 0.85rem;
}

.accent,
a {
  color: rgb(8, 37, 103);
}

.values {
  font-size: 1rem;
}

.section-hobbies {
  .hobbies-name {
    @extend .values;
  }
}
